$tint: #F98C10;

$light: #FFFFFF;
$lightTintLight: #ffffff;
$lightTintLightHover: #FFFFFF;
$lightTintDark: #F2EBCF;
$lightTintDarkHover: #EDE4BF;

$dark: #0C1618;
$darkTintLight: #152529;
$darkTintLightHover: #1C3136;
$darkTintDark: #070C0E;
$darkTintDarkHover: #000000;

// other colors
$blue: #009FF5;
$red: #F24236;
$green: #1EAE5A;